.cart {
  height: 100% auto;
  margin: 0px 100px;
  padding: 0px 100px;
  color: white;
}

.cart a {
  color: white;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  padding: 10px;
}
#desc {
  width: 400px;
}
#img-shoes {
  height: 150px;
  width: 100px;
  font-family: "Inter";
  font-style: normal;
}

#total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.box1 {
  background-color: white;
  height: 200px;
  width: 400px;
  padding: 10px;
  color: black;
  font-family: "Abhaya Libre";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
#paynow {
  background-color: #ffbe00;
  align-items: center;
  text-align: center;
  float: center;
  border: none;
  margin: 20px;
  padding: 10px;
  width: 150px;
  font-family: "Abhaya Libre";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
